#experiences {
  height: calc(100vh - 2 * var(--navbar-height) - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

.experience-container {
  align-items: center;
  display: flex;
  justify-content: start;
  gap: var(--experience-card-gap);
  width: var(--experience-container-width);
  height: var(--experience-container-height);
  overflow: hidden;
  animation: items-slide-in 0.8s ease-out both 0.1s;
}

.site-main.slide-mode .experience-container {
  animation: items-slide-out 0.8s ease-in both 0.1s;
}

.experience-btn {
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: transparent;
  position: relative;
}

.experience-btn.btn-left::before,
.experience-btn.btn-right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--text-complement);
  border-radius: 100%;
  transform: scale(0);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

@keyframes exp-btn-slide-in {
  from {
    transform: translateX(-100vw);
    filter: blur(5px);
  }
  to {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes exp-btn-slide-out {
  from {
    transform: translateX(0);
    filter: blur(0);
  }
  to {
    transform: translateX(100vw);
    filter: blur(5px);
  }
}

.experience-btn.btn-left {
  margin-inline-end: var(--experience-btn-margin);
  animation: exp-btn-slide-in 0.8s ease-out 0.2s both;
}

.site-main.slide-mode .experience-btn.btn-left {
  animation: exp-btn-slide-out 0.8s ease-in 0.2s forwards;
}

.experience-btn.btn-right {
  margin-inline-start: var(--experience-btn-margin);
  animation: exp-btn-slide-in 0.8s ease-out both;
}

.site-main.slide-mode .experience-btn.btn-right {
  animation: exp-btn-slide-out 0.8s ease-in forwards;
}

.btn-left:hover::before,
.btn-right:hover::before {
  transform: scale(1);
}

.bottom-btn-container {
  display: none;
  gap: 5rem;
  margin-top: var(--experience-btn-margin);
  animation: items-slide-in 0.8s ease-out both 0.3s;
}

.site-main.slide-mode .bottom-btn-container {
  animation: items-slide-out 0.8s ease-in both 0.3s;
}

.bottom-experience-btn {
  display: flex;
}

.experience-card {
  align-items: center;
  background: var(--background-experience-cards);
  border: 1px solid var(--border-primary);
  color: var(--text-base);
  display: flex;
  flex-direction: column;
  height: 300;
  justify-content: flex-start;
  min-width: var(--experience-side-card-width);
  /* opacity: 0; */
  overflow: hidden;
  padding: 2.5rem 2rem;
  transition: all 0.3s ease-in-out;
}

.turn-right,
.turn-left {
  opacity: 0.75;
  height: var(--experience-side-card-height);
  cursor: pointer;
}

.turn-right {
  transform: perspective(1000px) rotateY(45deg);
}

.turn-left {
  transform: perspective(1000px) rotateY(-45deg);
}

.experience-card:first-child {
  margin-inline-start: var(--experience-card-margin);
}

.experience-card:last-child {
  margin-inline-end: var(--experience-card-margin);
}

.middle-card {
  cursor: auto;
  height: var(--experience-middle-card-height);
  min-width: var(--experience-middle-card-width);
  opacity: 1;
  transform: none;
  transition: all 0.3s ease-in-out;
}

.experience-card .logo-container {
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 10px #fff);
}

.experience-card .logo-container svg {
  width: var(--experience-card-logo-size);
  height: var(--experience-card-logo-size);
}

.job-info {
  /* display: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-card .company-name {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.75rem;
  text-align: center;
}

.experience-card .working-interval {
  font-size: 1rem;
  font-weight: 200;
  color: var(--text-secondary);
  margin-bottom: 2rem;
}

.experience-card .job-description {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-base);
  margin-bottom: 2rem;
  text-align: center;
}

.experience-card .resp-intro {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.experience-card .job-responsibilities {
  flex-direction: column;
}

.experience-card .responsibility {
  display: flex;
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.experience-card .responsibility::before {
  content: "-";
  margin-right: 0.75rem;
}

.experience-card .responsibility:last-child {
  margin-bottom: 0;
}

.experience-card.middle-card .job-info {
  display: flex;
  animation: experience-card-opacity 0.5s ease-out both 0.2s;
}

@keyframes experience-card-opacity {
  from {
    opacity: 0;
    filter: blur(2px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

@media screen and (max-width: 480px) {
  .experience-container {
    max-height: 400px;
    overflow-x: scroll;
  }

  .bottom-experience-btn svg {
    width: 44px;
    height: 44px;
  }

  .experience-card {
    padding: 2rem;
    height: var(--experience-side-card-height);
    opacity: 1;
    border-radius: 0.5rem;
  }

  .experience-card:first-child {
    margin-inline-start: 0;
  }

  .experience-card:last-child {
    margin-inline-end: 0;
  }

  .turn-right,
  .turn-left {
    transform: none;
  }

  .middle-card {
    height: 100%;
    max-height: 400px;
    overflow-y: scroll;
  }

  .experience-card .logo-container {
    margin-bottom: 0.5rem;
  }

  .experience-card .logo-container svg {
    width: 44px;
    height: 44px;
  }

  .job-info {
    min-width: calc(250px - 2 * 1.5rem);
  }

  .experience-card .company-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .experience-card .working-interval {
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
  }

  .experience-card .job-description {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  .experience-card .resp-intro {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .experience-card .responsibility {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 1024px) {
  #experiences {
    flex-direction: column;
    justify-content: center;
  }

  .experience-btn {
    display: none;
  }

  .bottom-btn-container {
    display: flex;
  }

  .experience-card .responsibility {
    margin-bottom: 1.25rem;
    color: var(--text-secondary);
    display: flex;
    height: 1rem;
    overflow: hidden;
    transition: all 0.2s ease-in;
    width: 90%;
  }

  .experience-card .responsibility::before {
    content: "-";
    margin-right: 0.5rem;
  }

  .experience-card .responsibility::after {
    content: "...";
  }

  .experience-card .responsibility:hover {
    color: var(--text-base);
    height: fit-content;
  }

  .experience-card .responsibility:hover::after {
    content: "";
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .bottom-experience-btn svg {
    width: 44px;
    height: 44px;
  }

  .experience-card {
    padding: 2rem 1.5rem;
  }

  .turn-right {
    transform: perspective(1000px) rotateY(50deg);
  }

  .turn-left {
    transform: perspective(1000px) rotateY(-50deg);
  }

  .middle-card {
    overflow-y: scroll;
  }

  .experience-card .logo-container {
    margin-bottom: 0.5rem;
  }

  .experience-card .logo-container svg {
    width: 32px;
    height: 32px;
  }

  .experience-card .company-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .experience-card .working-interval {
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
  }

  .experience-card .job-description {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  .experience-card .resp-intro {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .experience-card .responsibility {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .experience-card {
    padding: 2.25rem 1.75rem;
  }

  .turn-right {
    transform: perspective(1000px) rotateY(60deg);
  }

  .turn-left {
    transform: perspective(1000px) rotateY(-60deg);
  }

  .middle-card {
    overflow-y: scroll;
  }

  .experience-card .logo-container {
    margin-bottom: 0.75rem;
  }

  .experience-card .company-name {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .experience-card .working-interval {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
  }

  .experience-card .job-description {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
  }

  .experience-card .resp-intro {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .experience-card .responsibility {
    font-size: 0.875rem;
  }
}
