.site-footer {
  position: relative;
  height: calc(var(--navbar-height));
  display: flex;
  align-items: center;
  margin: 10px 5%;
  justify-content: center;
  overflow: hidden;
}

.footer-links-container {
  height: 100%;
  background-color: transparent;
  width: fit-content;
  z-index: 2;
  display: flex;
  align-items: center;
  position: absolute;
  padding-inline: 2.5%;
  border-radius: 10px;
  gap: 20px;
  justify-content: center;
  animation: footer-slide-up 0.8s ease-out 0.4s both;
}

.footer-link svg {
  opacity: 0.5;
  transition: all 0.2s ease-out;
  width: 40px;
}

.footer-link:hover svg {
  transform: translateY(-1px);
  opacity: 1;
  filter: drop-shadow(0 0 10px var(--text-base));
}

.site-footer.slide-mode .footer-h-line,
.site-footer.slide-mode .footer-links-container {
  animation: footer-slide-down 0.8s ease-out 0.4s backwards;
}

@keyframes footer-slide-up {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes footer-slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10vh);
  }
}

@media screen and (max-width: 480px) {
  .footer-links-container {
    gap: 0;
    justify-content: space-around;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .footer-link svg {
    width: 32px;
  }
}