:root {
  --background-base: rgb(30, 30, 30);
  --background-secondary: #222223;
  --background-menu: rgba(245, 245, 245, .8);
  --background-experience-cards: linear-gradient(
    to bottom,
    var(--text-complement) 0%,
    var(--background-secondary) 100%
  );
  --background-project-cards: linear-gradient(
    to right,
    var(--text-complement) 0%,
    var(--background-secondary) 100%
  );

  --menu-closed-items: rgb(245, 245, 245);
  --menu-opened-items: rgba(29, 29, 30, 0.749);

  --text-base: rgb(245, 245, 245);
  --text-secondary: rgba(255, 255, 255, 0.65);
  --text-complement: rgb(64, 71, 167);

  --border-primary: rgba(255, 255, 255, 0.14);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html{
  background: linear-gradient(to right, var(--background-base), rgb(41, 45, 92));
}

body {
  font-family: "Exo 2", sans-serif;
  scroll-behavior: smooth;
  overflow: overlay;

  /* NAVBAR */
  --navbar-height: 4rem;

  /* EXPERIENCE */
  --experience-container-height: calc(
    var(--experience-middle-card-height) + 0.5rem
  );
  --experience-container-width: calc(
    2 * var(--experience-side-card-width) + var(--experience-middle-card-width) +
      2 * var(--experience-card-gap)
  );
  --experience-side-card-height: 325px;
  --experience-side-card-width: 225px;
  --experience-middle-card-height: 500px;
  --experience-middle-card-width: 350px;
  --experience-card-gap: 2rem;
  --experience-card-margin: calc(
    var(--experience-card-gap) + var(--experience-side-card-width)
  );
  --experience-btn-margin: 10rem;
  --experience-card-logo-size: 44px;
}

body,
html,
li,
p,
ul,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

/* SCROLLBAR */
html::-webkit-scrollbar{
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: var(--background-base);
}

html::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
  border-radius: .5rem;
}

@media screen and (max-width: 480px) {
  body {
    --experience-container-height: 80%;
    --experience-container-width: 100%;
    --experience-side-card-height: min(25vh, 175px);
    --experience-side-card-width: 100px;
    --experience-middle-card-width: 100%;
    --experience-card-gap: 0.5rem;
    --experience-btn-margin: 5vh;
  }
}

@media screen and (max-width: 1024px) {
  body {
    --navbar-height: 3.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    --experience-side-card-height: min(25vh, 175px);
    --experience-side-card-width: 100px;
    --experience-middle-card-height: min(50vh, 375px);
    --experience-middle-card-width: 250px;
    --experience-card-gap: 0.125rem;
    --experience-btn-margin: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    --experience-side-card-height: min(30vh, 300px);
    --experience-side-card-width: 200px;
    --experience-middle-card-height: min(50vh, 450px);
    --experience-middle-card-width: 300px;
    --experience-card-gap: 0.125rem;
    --experience-btn-margin: 2rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body {
    --experience-btn-margin: 1rem;
  }

  /* PROJECTS */
  .project-container {
    min-height: 600px;
  }

  .project {
    flex-direction: column;
    background: linear-gradient(
      to top,
      var(--background-base),
      var(--text-complement)
    );
  }

  .project-info {
    width: 90%;
    margin-bottom: 2rem;
  }

  .project-img,
  .project-video {
    width: 600px;
  }
}
